--
-- PostgreSQL database dump
--

-- Dumped from database version 15.6
-- Dumped by pg_dump version 15.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: OrderOrigin; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."OrderOrigin" AS ENUM (
    'WAITER',
    'GUEST_QR',
    'DELIVERY',
    'KIOSK'
);


ALTER TYPE public."OrderOrigin" OWNER TO postgres;

--
-- Name: OrderStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."OrderStatus" AS ENUM (
    'PENDING',
    'PREPARING',
    'READY',
    'COMPLETED',
    'CANCELLED'
);


ALTER TYPE public."OrderStatus" OWNER TO postgres;

--
-- Name: OutboxStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."OutboxStatus" AS ENUM (
    'PENDING',
    'PROCESSING',
    'PROCESSED',
    'FAILED'
);


ALTER TYPE public."OutboxStatus" OWNER TO postgres;

--
-- Name: PaymentAttemptStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PaymentAttemptStatus" AS ENUM (
    'INIT',
    'PAID',
    'FAILED',
    'CANCELLED',
    'REFUND_PENDING',
    'REFUNDED',
    'REFUND_FAILED',
    'MANUAL_REVIEW'
);


ALTER TYPE public."PaymentAttemptStatus" OWNER TO postgres;

--
-- Name: PaymentMethod; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PaymentMethod" AS ENUM (
    'CASH',
    'CARD',
    'ONLINE',
    'OTHER'
);


ALTER TYPE public."PaymentMethod" OWNER TO postgres;

--
-- Name: PaymentStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PaymentStatus" AS ENUM (
    'PENDING',
    'PAID',
    'FAILED',
    'REFUNDED'
);


ALTER TYPE public."PaymentStatus" OWNER TO postgres;

--
-- Name: ServiceRequestStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ServiceRequestStatus" AS ENUM (
    'PENDING',
    'ACKNOWLEDGED',
    'COMPLETED',
    'IN_PROGRESS',
    'CANCELLED'
);


ALTER TYPE public."ServiceRequestStatus" OWNER TO postgres;

--
-- Name: ServiceRequestType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ServiceRequestType" AS ENUM (
    'CLEANING',
    'QUESTION',
    'BILL'
);


ALTER TYPE public."ServiceRequestType" OWNER TO postgres;

--
-- Name: ShiftType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ShiftType" AS ENUM (
    'MORNING',
    'EVENING',
    'FULL_DAY'
);


ALTER TYPE public."ShiftType" OWNER TO postgres;

--
-- Name: TenantPlan; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TenantPlan" AS ENUM (
    'FREE',
    'PRO',
    'PREMIUM'
);


ALTER TYPE public."TenantPlan" OWNER TO postgres;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UserRole" AS ENUM (
    'OWNER',
    'MANAGER',
    'CASHIER',
    'WAITER',
    'KITCHEN'
);


ALTER TYPE public."UserRole" OWNER TO postgres;

--
-- Name: UserStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UserStatus" AS ENUM (
    'ACTIVE',
    'OFF_DUTY',
    'ON_LEAVE'
);


ALTER TYPE public."UserStatus" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    id text NOT NULL,
    "tenantId" text NOT NULL,
    "userId" text,
    action text NOT NULL,
    "entityType" text NOT NULL,
    "entityId" text NOT NULL,
    previous jsonb,
    next jsonb,
    metadata jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    id text NOT NULL,
    name text NOT NULL,
    image text,
    "sortOrder" integer DEFAULT 0 NOT NULL,
    "tenantId" text NOT NULL,
    "parentId" text,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);

ALTER TABLE ONLY public.categories FORCE ROW LEVEL SECURITY;


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: inventory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory (
    id text NOT NULL,
    quantity integer DEFAULT 0 NOT NULL,
    "lowStockThreshold" integer DEFAULT 5 NOT NULL,
    "allowBackorder" boolean DEFAULT false NOT NULL,
    "productId" text NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "tenantId" text NOT NULL
);

ALTER TABLE ONLY public.inventory FORCE ROW LEVEL SECURITY;


ALTER TABLE public.inventory OWNER TO postgres;

--
-- Name: modifiers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.modifiers (
    id text NOT NULL,
    name text NOT NULL,
    "priceChange" numeric(10,2) DEFAULT 0 NOT NULL,
    "groupId" text NOT NULL,
    "isDefault" boolean DEFAULT false NOT NULL,
    "isAvailable" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "tenantId" text NOT NULL
);

ALTER TABLE ONLY public.modifiers FORCE ROW LEVEL SECURITY;


ALTER TABLE public.modifiers OWNER TO postgres;

--
-- Name: order_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_items (
    id text NOT NULL,
    "orderId" text NOT NULL,
    "productId" text NOT NULL,
    quantity integer DEFAULT 1 NOT NULL,
    "unitPrice" numeric(10,2) NOT NULL,
    "totalPrice" numeric(10,2) NOT NULL,
    note text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "tenantId" text NOT NULL,
    "isStockDeducted" boolean DEFAULT false NOT NULL
);

ALTER TABLE ONLY public.order_items FORCE ROW LEVEL SECURITY;


ALTER TABLE public.order_items OWNER TO postgres;

--
-- Name: order_modifiers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_modifiers (
    id text NOT NULL,
    "orderItemId" text NOT NULL,
    "modifierId" text NOT NULL,
    name text NOT NULL,
    "priceChange" numeric(10,2) NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "tenantId" text NOT NULL
);

ALTER TABLE ONLY public.order_modifiers FORCE ROW LEVEL SECURITY;


ALTER TABLE public.order_modifiers OWNER TO postgres;

--
-- Name: orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders (
    id text NOT NULL,
    "orderNumber" integer NOT NULL,
    "tenantId" text NOT NULL,
    "tableId" text NOT NULL,
    status public."OrderStatus" DEFAULT 'PENDING'::public."OrderStatus" NOT NULL,
    "totalAmount" numeric(10,2) NOT NULL,
    note text,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "paidAt" timestamp(3) without time zone,
    "paymentMethod" public."PaymentMethod",
    "paymentRef" text,
    "paymentStatus" public."PaymentStatus" DEFAULT 'PENDING'::public."PaymentStatus" NOT NULL,
    "guestCount" integer DEFAULT 1,
    "waiterId" text,
    "idempotencyKey" text,
    origin public."OrderOrigin" DEFAULT 'WAITER'::public."OrderOrigin" NOT NULL,
    "guestName" text,
    "guestPhone" text,
    version integer DEFAULT 1 NOT NULL
);

ALTER TABLE ONLY public.orders FORCE ROW LEVEL SECURITY;


ALTER TABLE public.orders OWNER TO postgres;

--
-- Name: orders_orderNumber_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."orders_orderNumber_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."orders_orderNumber_seq" OWNER TO postgres;

--
-- Name: orders_orderNumber_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."orders_orderNumber_seq" OWNED BY public.orders."orderNumber";


--
-- Name: outbox_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.outbox_events (
    id text NOT NULL,
    type text NOT NULL,
    payload jsonb NOT NULL,
    status public."OutboxStatus" DEFAULT 'PENDING'::public."OutboxStatus" NOT NULL,
    attempts integer DEFAULT 0 NOT NULL,
    "lastError" text,
    "tenantId" text NOT NULL,
    "correlationId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "processedAt" timestamp(3) without time zone,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "nextRetryAt" timestamp(3) without time zone
);

ALTER TABLE ONLY public.outbox_events FORCE ROW LEVEL SECURITY;


ALTER TABLE public.outbox_events OWNER TO postgres;

--
-- Name: payment_attempts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payment_attempts (
    id text NOT NULL,
    "tenantId" text NOT NULL,
    "providerId" text NOT NULL,
    status public."PaymentAttemptStatus" DEFAULT 'INIT'::public."PaymentAttemptStatus" NOT NULL,
    "amountMinor" bigint NOT NULL,
    currency text NOT NULL,
    "providerRef" text,
    "idempotencyKey" text NOT NULL,
    metadata jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "errorMessage" text,
    "referenceId" text NOT NULL,
    "refundAttemptedAt" timestamp(3) without time zone,
    "refundedAt" timestamp(3) without time zone
);

ALTER TABLE ONLY public.payment_attempts FORCE ROW LEVEL SECURITY;


ALTER TABLE public.payment_attempts OWNER TO postgres;

--
-- Name: product_modifier_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_modifier_groups (
    id text NOT NULL,
    name text NOT NULL,
    "minSelection" integer DEFAULT 0 NOT NULL,
    "maxSelection" integer DEFAULT 1 NOT NULL,
    "productId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "tenantId" text NOT NULL
);

ALTER TABLE ONLY public.product_modifier_groups FORCE ROW LEVEL SECURITY;


ALTER TABLE public.product_modifier_groups OWNER TO postgres;

--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    price numeric(10,2) NOT NULL,
    image text,
    "tenantId" text NOT NULL,
    "categoryId" text,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "isStockTracked" boolean DEFAULT true NOT NULL
);

ALTER TABLE ONLY public.products FORCE ROW LEVEL SECURITY;


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: restaurant_tables; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.restaurant_tables (
    id text NOT NULL,
    name text NOT NULL,
    "tenantId" text NOT NULL,
    "zoneId" text,
    x integer DEFAULT 0 NOT NULL,
    y integer DEFAULT 0 NOT NULL,
    width integer DEFAULT 100 NOT NULL,
    height integer DEFAULT 100 NOT NULL,
    shape text DEFAULT 'rectangle'::text NOT NULL,
    capacity integer DEFAULT 4 NOT NULL,
    status text DEFAULT 'AVAILABLE'::text NOT NULL,
    "isReserved" boolean DEFAULT false NOT NULL,
    "reservedUntil" timestamp(3) without time zone,
    "mergedWithId" text,
    "currentOrderId" text,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);

ALTER TABLE ONLY public.restaurant_tables FORCE ROW LEVEL SECURITY;


ALTER TABLE public.restaurant_tables OWNER TO postgres;

--
-- Name: service_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.service_requests (
    id text NOT NULL,
    "tenantId" text NOT NULL,
    "tableId" text NOT NULL,
    "tableName" text NOT NULL,
    type public."ServiceRequestType" NOT NULL,
    status public."ServiceRequestStatus" DEFAULT 'PENDING'::public."ServiceRequestStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.service_requests OWNER TO postgres;

--
-- Name: staff_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.staff_logs (
    id text NOT NULL,
    "userId" text NOT NULL,
    "tenantId" text NOT NULL,
    "checkIn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "checkOut" timestamp(3) without time zone,
    note text
);

ALTER TABLE ONLY public.staff_logs FORCE ROW LEVEL SECURITY;


ALTER TABLE public.staff_logs OWNER TO postgres;

--
-- Name: supported_languages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.supported_languages (
    code text NOT NULL,
    name text NOT NULL,
    direction text DEFAULT 'ltr'::text NOT NULL,
    "isDefault" boolean DEFAULT false NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.supported_languages OWNER TO postgres;

--
-- Name: tenants; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tenants (
    id text NOT NULL,
    name text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "defaultCurrency" text DEFAULT 'TRY'::text NOT NULL,
    region text DEFAULT 'TR'::text NOT NULL,
    settings jsonb,
    slug text,
    "taxStrategyId" text DEFAULT 'NONE'::text NOT NULL,
    plan public."TenantPlan" DEFAULT 'FREE'::public."TenantPlan" NOT NULL,
    address text,
    phone text,
    "subscriptionStatus" text DEFAULT 'TRIAL'::text NOT NULL,
    "trialEndsAt" timestamp(3) without time zone
);


ALTER TABLE public.tenants OWNER TO postgres;

--
-- Name: translations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.translations (
    id text NOT NULL,
    key text NOT NULL,
    value text NOT NULL,
    "languageCode" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.translations OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    "fullName" text NOT NULL,
    role public."UserRole" DEFAULT 'CASHIER'::public."UserRole" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "tenantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    shift public."ShiftType" DEFAULT 'FULL_DAY'::public."ShiftType" NOT NULL,
    status public."UserStatus" DEFAULT 'ACTIVE'::public."UserStatus" NOT NULL
);

ALTER TABLE ONLY public.users FORCE ROW LEVEL SECURITY;


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: zones; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.zones (
    id text NOT NULL,
    name text NOT NULL,
    "tenantId" text NOT NULL,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);

ALTER TABLE ONLY public.zones FORCE ROW LEVEL SECURITY;


ALTER TABLE public.zones OWNER TO postgres;

--
-- Name: orders orderNumber; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders ALTER COLUMN "orderNumber" SET DEFAULT nextval('public."orders_orderNumber_seq"'::regclass);


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: inventory; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: modifiers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.modifiers (id, name, "priceChange", "groupId", "isDefault", "isAvailable", "createdAt", "updatedAt", "tenantId") FROM stdin;
\.


--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: order_modifiers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.order_modifiers (id, "orderItemId", "modifierId", name, "priceChange", "createdAt", "updatedAt", "tenantId") FROM stdin;
\.


--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: outbox_events; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: payment_attempts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.payment_attempts (id, "tenantId", "providerId", status, "amountMinor", currency, "providerRef", "idempotencyKey", metadata, "createdAt", "updatedAt", "errorMessage", "referenceId", "refundAttemptedAt", "refundedAt") FROM stdin;
\.


--
-- Data for Name: product_modifier_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.product_modifier_groups (id, name, "minSelection", "maxSelection", "productId", "createdAt", "updatedAt", "tenantId") FROM stdin;
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: restaurant_tables; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: service_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.service_requests (id, "tenantId", "tableId", "tableName", type, status, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: staff_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.staff_logs (id, "userId", "tenantId", "checkIn", "checkOut", note) FROM stdin;
c2f6ebf5-2343-4270-b25c-a448a9330e3f	0d0c1a4d-2a2f-4ed0-88ca-9679cd86ade4	post-restoran-demo	2026-03-08 20:01:16.521	2026-03-08 20:01:37.475	\N
\.


--
-- Data for Name: supported_languages; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.supported_languages (code, name, direction, "isDefault", "isActive", "createdAt", "updatedAt") FROM stdin;
en	English	ltr	f	t	2026-03-12 16:40:17.309	2026-03-12 16:40:17.309
tr	T├╝rk├ğe	ltr	f	t	2026-03-12 16:40:17.334	2026-03-12 16:40:17.334
\.


--
-- Data for Name: tenants; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: translations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: zones; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: orders_orderNumber_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."orders_orderNumber_seq"', 190, true);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: inventory inventory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory
    ADD CONSTRAINT inventory_pkey PRIMARY KEY (id);


--
-- Name: modifiers modifiers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modifiers
    ADD CONSTRAINT modifiers_pkey PRIMARY KEY (id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: order_modifiers order_modifiers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_modifiers
    ADD CONSTRAINT order_modifiers_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: outbox_events outbox_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.outbox_events
    ADD CONSTRAINT outbox_events_pkey PRIMARY KEY (id);


--
-- Name: payment_attempts payment_attempts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment_attempts
    ADD CONSTRAINT payment_attempts_pkey PRIMARY KEY (id);


--
-- Name: product_modifier_groups product_modifier_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_modifier_groups
    ADD CONSTRAINT product_modifier_groups_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: restaurant_tables restaurant_tables_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_tables
    ADD CONSTRAINT restaurant_tables_pkey PRIMARY KEY (id);


--
-- Name: service_requests service_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.service_requests
    ADD CONSTRAINT service_requests_pkey PRIMARY KEY (id);


--
-- Name: staff_logs staff_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.staff_logs
    ADD CONSTRAINT staff_logs_pkey PRIMARY KEY (id);


--
-- Name: supported_languages supported_languages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supported_languages
    ADD CONSTRAINT supported_languages_pkey PRIMARY KEY (code);


--
-- Name: tenants tenants_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_pkey PRIMARY KEY (id);


--
-- Name: translations translations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.translations
    ADD CONSTRAINT translations_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: zones zones_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.zones
    ADD CONSTRAINT zones_pkey PRIMARY KEY (id);


--
-- Name: audit_logs_tenantId_action_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "audit_logs_tenantId_action_idx" ON public.audit_logs USING btree ("tenantId", action);


--
-- Name: audit_logs_tenantId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "audit_logs_tenantId_createdAt_idx" ON public.audit_logs USING btree ("tenantId", "createdAt");


--
-- Name: categories_tenantId_isDeleted_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "categories_tenantId_isDeleted_idx" ON public.categories USING btree ("tenantId", "isDeleted");


--
-- Name: idx_active_order; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_active_order ON public.orders USING btree ("tenantId", "tableId") WHERE ((status = ANY (ARRAY['PENDING'::public."OrderStatus", 'PREPARING'::public."OrderStatus", 'READY'::public."OrderStatus"])) AND ("isDeleted" = false));


--
-- Name: inventory_productId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "inventory_productId_key" ON public.inventory USING btree ("productId");


--
-- Name: inventory_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "inventory_tenantId_idx" ON public.inventory USING btree ("tenantId");


--
-- Name: modifiers_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "modifiers_tenantId_idx" ON public.modifiers USING btree ("tenantId");


--
-- Name: order_items_orderId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "order_items_orderId_idx" ON public.order_items USING btree ("orderId");


--
-- Name: order_items_productId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "order_items_productId_idx" ON public.order_items USING btree ("productId");


--
-- Name: order_items_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "order_items_tenantId_idx" ON public.order_items USING btree ("tenantId");


--
-- Name: order_modifiers_modifierId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "order_modifiers_modifierId_idx" ON public.order_modifiers USING btree ("modifierId");


--
-- Name: order_modifiers_orderItemId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "order_modifiers_orderItemId_idx" ON public.order_modifiers USING btree ("orderItemId");


--
-- Name: order_modifiers_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "order_modifiers_tenantId_idx" ON public.order_modifiers USING btree ("tenantId");


--
-- Name: orders_tenantId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "orders_tenantId_createdAt_idx" ON public.orders USING btree ("tenantId", "createdAt");


--
-- Name: orders_tenantId_idempotencyKey_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "orders_tenantId_idempotencyKey_key" ON public.orders USING btree ("tenantId", "idempotencyKey");


--
-- Name: orders_tenantId_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "orders_tenantId_status_idx" ON public.orders USING btree ("tenantId", status);


--
-- Name: orders_tenantId_tableId_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "orders_tenantId_tableId_status_idx" ON public.orders USING btree ("tenantId", "tableId", status);


--
-- Name: outbox_events_status_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "outbox_events_status_createdAt_idx" ON public.outbox_events USING btree (status, "createdAt");


--
-- Name: outbox_events_status_updatedAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "outbox_events_status_updatedAt_idx" ON public.outbox_events USING btree (status, "updatedAt");


--
-- Name: payment_attempts_idempotencyKey_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "payment_attempts_idempotencyKey_idx" ON public.payment_attempts USING btree ("idempotencyKey");


--
-- Name: payment_attempts_idempotencyKey_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "payment_attempts_idempotencyKey_key" ON public.payment_attempts USING btree ("idempotencyKey");


--
-- Name: payment_attempts_providerRef_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "payment_attempts_providerRef_idx" ON public.payment_attempts USING btree ("providerRef");


--
-- Name: payment_attempts_tenantId_referenceId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "payment_attempts_tenantId_referenceId_idx" ON public.payment_attempts USING btree ("tenantId", "referenceId");


--
-- Name: product_modifier_groups_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "product_modifier_groups_tenantId_idx" ON public.product_modifier_groups USING btree ("tenantId");


--
-- Name: products_tenantId_categoryId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "products_tenantId_categoryId_idx" ON public.products USING btree ("tenantId", "categoryId");


--
-- Name: products_tenantId_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "products_tenantId_isActive_idx" ON public.products USING btree ("tenantId", "isActive");


--
-- Name: products_tenantId_isDeleted_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "products_tenantId_isDeleted_idx" ON public.products USING btree ("tenantId", "isDeleted");


--
-- Name: restaurant_tables_tenantId_isDeleted_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "restaurant_tables_tenantId_isDeleted_idx" ON public.restaurant_tables USING btree ("tenantId", "isDeleted");


--
-- Name: restaurant_tables_tenantId_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "restaurant_tables_tenantId_status_idx" ON public.restaurant_tables USING btree ("tenantId", status);


--
-- Name: service_requests_tableId_status_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "service_requests_tableId_status_createdAt_idx" ON public.service_requests USING btree ("tableId", status, "createdAt");


--
-- Name: service_requests_tenantId_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "service_requests_tenantId_status_idx" ON public.service_requests USING btree ("tenantId", status);


--
-- Name: tenants_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX tenants_slug_key ON public.tenants USING btree (slug);


--
-- Name: translations_key_languageCode_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "translations_key_languageCode_key" ON public.translations USING btree (key, "languageCode");


--
-- Name: unique_open_log_per_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX unique_open_log_per_user ON public.staff_logs USING btree ("userId") WHERE ("checkOut" IS NULL);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: users_tenantId_role_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "users_tenantId_role_idx" ON public.users USING btree ("tenantId", role);


--
-- Name: zones_tenantId_isDeleted_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "zones_tenantId_isDeleted_idx" ON public.zones USING btree ("tenantId", "isDeleted");


--
-- Name: audit_logs audit_logs_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT "audit_logs_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: audit_logs audit_logs_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT "audit_logs_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: categories categories_parentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT "categories_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES public.categories(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: categories categories_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT "categories_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: inventory inventory_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory
    ADD CONSTRAINT "inventory_productId_fkey" FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: inventory inventory_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory
    ADD CONSTRAINT "inventory_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: modifiers modifiers_groupId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modifiers
    ADD CONSTRAINT "modifiers_groupId_fkey" FOREIGN KEY ("groupId") REFERENCES public.product_modifier_groups(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: modifiers modifiers_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modifiers
    ADD CONSTRAINT "modifiers_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: order_items order_items_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT "order_items_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public.orders(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: order_items order_items_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT "order_items_productId_fkey" FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: order_items order_items_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT "order_items_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: order_modifiers order_modifiers_modifierId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_modifiers
    ADD CONSTRAINT "order_modifiers_modifierId_fkey" FOREIGN KEY ("modifierId") REFERENCES public.modifiers(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: order_modifiers order_modifiers_orderItemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_modifiers
    ADD CONSTRAINT "order_modifiers_orderItemId_fkey" FOREIGN KEY ("orderItemId") REFERENCES public.order_items(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: order_modifiers order_modifiers_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_modifiers
    ADD CONSTRAINT "order_modifiers_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: orders orders_tableId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT "orders_tableId_fkey" FOREIGN KEY ("tableId") REFERENCES public.restaurant_tables(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: orders orders_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT "orders_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: orders orders_waiterId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT "orders_waiterId_fkey" FOREIGN KEY ("waiterId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: payment_attempts payment_attempts_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment_attempts
    ADD CONSTRAINT "payment_attempts_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: product_modifier_groups product_modifier_groups_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_modifier_groups
    ADD CONSTRAINT "product_modifier_groups_productId_fkey" FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: product_modifier_groups product_modifier_groups_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_modifier_groups
    ADD CONSTRAINT "product_modifier_groups_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: products products_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "products_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public.categories(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: products products_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "products_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: restaurant_tables restaurant_tables_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_tables
    ADD CONSTRAINT "restaurant_tables_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: restaurant_tables restaurant_tables_zoneId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_tables
    ADD CONSTRAINT "restaurant_tables_zoneId_fkey" FOREIGN KEY ("zoneId") REFERENCES public.zones(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: service_requests service_requests_tableId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.service_requests
    ADD CONSTRAINT "service_requests_tableId_fkey" FOREIGN KEY ("tableId") REFERENCES public.restaurant_tables(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: service_requests service_requests_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.service_requests
    ADD CONSTRAINT "service_requests_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: staff_logs staff_logs_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.staff_logs
    ADD CONSTRAINT "staff_logs_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: staff_logs staff_logs_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.staff_logs
    ADD CONSTRAINT "staff_logs_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: translations translations_languageCode_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.translations
    ADD CONSTRAINT "translations_languageCode_fkey" FOREIGN KEY ("languageCode") REFERENCES public.supported_languages(code) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: users users_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "users_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: zones zones_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.zones
    ADD CONSTRAINT "zones_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: categories; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.categories ENABLE ROW LEVEL SECURITY;

--
-- Name: inventory; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.inventory ENABLE ROW LEVEL SECURITY;

--
-- Name: modifiers; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.modifiers ENABLE ROW LEVEL SECURITY;

--
-- Name: order_items; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.order_items ENABLE ROW LEVEL SECURITY;

--
-- Name: order_modifiers; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.order_modifiers ENABLE ROW LEVEL SECURITY;

--
-- Name: orders; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.orders ENABLE ROW LEVEL SECURITY;

--
-- Name: outbox_events; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.outbox_events ENABLE ROW LEVEL SECURITY;

--
-- Name: payment_attempts; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.payment_attempts ENABLE ROW LEVEL SECURITY;

--
-- Name: product_modifier_groups; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.product_modifier_groups ENABLE ROW LEVEL SECURITY;

--
-- Name: products; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.products ENABLE ROW LEVEL SECURITY;

--
-- Name: restaurant_tables; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.restaurant_tables ENABLE ROW LEVEL SECURITY;

--
-- Name: staff_logs; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.staff_logs ENABLE ROW LEVEL SECURITY;

--
-- Name: categories tenant_isolation_policy; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY tenant_isolation_policy ON public.categories USING ((("tenantId" = current_setting('app.current_tenant'::text, true)) OR (current_setting('app.bypass_rls'::text, true) = 'on'::text)));


--
-- Name: inventory tenant_isolation_policy; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY tenant_isolation_policy ON public.inventory USING ((("tenantId" = current_setting('app.current_tenant'::text, true)) OR (current_setting('app.bypass_rls'::text, true) = 'on'::text)));


--
-- Name: modifiers tenant_isolation_policy; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY tenant_isolation_policy ON public.modifiers USING ((("tenantId" = current_setting('app.current_tenant'::text, true)) OR (current_setting('app.bypass_rls'::text, true) = 'on'::text)));


--
-- Name: order_items tenant_isolation_policy; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY tenant_isolation_policy ON public.order_items USING ((("tenantId" = current_setting('app.current_tenant'::text, true)) OR (current_setting('app.bypass_rls'::text, true) = 'on'::text)));


--
-- Name: order_modifiers tenant_isolation_policy; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY tenant_isolation_policy ON public.order_modifiers USING ((("tenantId" = current_setting('app.current_tenant'::text, true)) OR (current_setting('app.bypass_rls'::text, true) = 'on'::text)));


--
-- Name: orders tenant_isolation_policy; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY tenant_isolation_policy ON public.orders USING ((("tenantId" = current_setting('app.current_tenant'::text, true)) OR (current_setting('app.bypass_rls'::text, true) = 'on'::text)));


--
-- Name: outbox_events tenant_isolation_policy; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY tenant_isolation_policy ON public.outbox_events USING ((("tenantId" = current_setting('app.current_tenant'::text, true)) OR (current_setting('app.bypass_rls'::text, true) = 'on'::text)));


--
-- Name: payment_attempts tenant_isolation_policy; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY tenant_isolation_policy ON public.payment_attempts USING ((("tenantId" = current_setting('app.current_tenant'::text, true)) OR (current_setting('app.bypass_rls'::text, true) = 'on'::text)));


--
-- Name: product_modifier_groups tenant_isolation_policy; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY tenant_isolation_policy ON public.product_modifier_groups USING ((("tenantId" = current_setting('app.current_tenant'::text, true)) OR (current_setting('app.bypass_rls'::text, true) = 'on'::text)));


--
-- Name: products tenant_isolation_policy; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY tenant_isolation_policy ON public.products USING ((("tenantId" = current_setting('app.current_tenant'::text, true)) OR (current_setting('app.bypass_rls'::text, true) = 'on'::text)));


--
-- Name: restaurant_tables tenant_isolation_policy; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY tenant_isolation_policy ON public.restaurant_tables USING ((("tenantId" = current_setting('app.current_tenant'::text, true)) OR (current_setting('app.bypass_rls'::text, true) = 'on'::text)));


--
-- Name: staff_logs tenant_isolation_policy; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY tenant_isolation_policy ON public.staff_logs USING ((("tenantId" = current_setting('app.current_tenant'::text, true)) OR (current_setting('app.bypass_rls'::text, true) = 'on'::text)));


--
-- Name: users tenant_isolation_policy; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY tenant_isolation_policy ON public.users USING ((("tenantId" = current_setting('app.current_tenant'::text, true)) OR (current_setting('app.bypass_rls'::text, true) = 'on'::text)));


--
-- Name: zones tenant_isolation_policy; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY tenant_isolation_policy ON public.zones USING ((("tenantId" = current_setting('app.current_tenant'::text, true)) OR (current_setting('app.bypass_rls'::text, true) = 'on'::text)));


--
-- Name: users; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.users ENABLE ROW LEVEL SECURITY;

--
-- Name: zones; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.zones ENABLE ROW LEVEL SECURITY;

--
-- PostgreSQL database dump complete
--

